{% if latest_question_list %}
    <ul>
        {% for question in latest_question_list %}
            <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li>
        {% endfor %}
    </ul>

    <form action="{% url 'polls:get_question' %}" method="post">
        {% csrf_token %}
        <p>Add question</p>
        <input id="question_text" type="text" name="question_text" value="{{ cur }}">
        <input type="submit" value="OK">
{% else %}
    <P>No polls are available.</P>
{% endif %}